.inbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px;
    padding: 25px;
    border: 3px solid blue;
    border-radius: 10px;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.507);;
    width: 500px;
    background-color: yellow;
    position: relative;
}

.inbox-container > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid blue;
    background-color: white;
    object-fit: cover;
}

.inbox-item-title {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}

.inbox-background {
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.switch-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}

#selling-button {
    color: blue; 
    font-size: 40px;
}

@media (max-width: 600px) and (min-width: 350px) {
    div.page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
        padding: 0;
        top: 18vh;
        padding-bottom: 2rem;
    }

    .inbox-container {
        max-width: 70vw;
        margin: 1rem;
        padding: 1rem;
    }

    .switch-buttons {
        font-size: 20px;
        justify-content: space-evenly;
        width: 100vw;
    }

    #selling-button {
        font-size: 30px;
    }

    .inbox-item-title {
        font-size: 23px;
        text-align: center;
    }

    .inbox-container > img {
        width: 50px;
        height: 50px;
    }

    .page-title {
        right: 0;
    }

    body {
        height: 100vh;
    }
}

@media (max-width: 349px) {
    div.page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
        padding: 0;
        top: 25vh;
        padding-bottom: 2rem;
    }

    .inbox-container {
        max-width: 70vw;
        margin: 1rem;
        padding: 1rem;
    }

    .switch-buttons {
        font-size: 20px;
        justify-content: space-evenly;
        width: 100vw;
    }

    #selling-button {
        font-size: 30px;
    }

    .inbox-item-title {
        font-size: 23px;
    }

    .inbox-container > img {
        width: 50px;
        height: 50px;
    }
}