.edit-fake {
    position: relative;
    bottom: 30px;
}

.edit-name {
    position: relative;
    bottom: 90px;
}

@media (max-width: 600px) {
    .edit-name {
        bottom: 5vh;
    }
    
    div.edit-list-div {
        height: 75vh;
        top: 12vh;
    }
}

.edit-list-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
}