img.edit-ash {
    bottom: -129px;
}

img.edit-pika {
    bottom: -100px;
}

.edit-fake {
    position: relative;
    bottom: 30px;
}

.edit-name {
    position: relative;
    bottom: 90px;
}

@media (max-width: 600px) {
    .edit-name {
        bottom: 5vh;
    }
    
    div.edit-list-div {
        height: 75vh;
        top: 12vh;
    }
}