.list-container {
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 70vw;
    margin-left: 12vw;
}

.list-div {
    display: flex;
    justify-content: flex-start;
    margin: 40px;
    padding: 25px;
    border: 3px solid blue;
    border-radius: 10px;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.507);;
    width: 700px;
    background-color: yellow;
}

.list-div > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid blue;
    background-color: white;
}

.title-buttons-div {
    margin-left: 20px;
    position: relative;
    bottom: 25px;
}

.create-list-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 50;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    color: blue;
}

.background-create-text {
    position: fixed;
    bottom: 72px;
    right: 59px;
    z-index: 51;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: yellow;
    cursor: pointer;
}

.list-page-title {
    position: relative;
    top: 150px;
    font-size: 60px;
    margin-left: 150px;
    font-family: 'Acme', sans-serif;
}

.list-title {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}