.create-list-background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 101;
}

.create-list-div {
    background-color: yellow;
    position: relative;
    width: 700px;
    height: 500px;
    left: 40vh;
    top: 8vh;
    border-radius: 10px;
    border: 3px solid blue;
}

.create-list-form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    position: relative;
    top: 30px;
}

.create-list-title {
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Acme', sans-serif;
}