.create-post-background, .background-errors, .background-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 650;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-div {
    background-color: yellow;
    position: fixed;
    width: 44rem;
    height: 31rem;
    border: 3px solid blue;
    border-radius: 1rem;
    font-family: 'Fredoka One', cursive;
    color: blue;
    z-index: 651;
    left: 21.5vw;
    top: 13.5vh;
}

.create-form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    align-items: center;
    padding: 50px;
    position: relative;
    top: 70px;
}

.create-post-title {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 30px;
}

.create-post-div input {
    border: none;
    appearance: none;
    outline: none;
    border-radius: 1rem;
    height: 30px;
    font-family: 'Architects Daughter', cursive;
    padding-left: 10px;
    background-color: rgba(235, 220, 21, 0.432);
}

#create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
}

.first-layer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-layer-form {
    display: flex;
}

.third-layer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}

.price-div, .quantity-div, .category-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

input.price-input, input.quantity-input {
    width: 70px;
    height: 70px;
}

.form-buttons {
    position: absolute;
    top: 330px;
    display: flex;
    justify-content: center;
}

button.cancel-button {
    height: 40px;
    width: 70px;
    padding: 0px;
    margin: 5px;
    background-color: red;
    color: white;
}

button.cancel-button:hover {
    background-color: rgba(255, 0, 0, 0.74);
}

button.submit-post-button {
    height: 40px;
    width: 100px;
    padding: 0px;
    margin: 5px;
}

.description-input {
    width: 500px;
    height: 70px;
    color: blue;
}

.fake-file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select.categories {
    border: none;
    appearance: none;
    outline: none;
    background-color: rgba(235, 220, 21, 0.432);
    border-radius: 1rem;
    height: 40px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    color: blue;
}

.title-div, .description-div {
    display: flex;
    flex-direction: column;
}

.title-div {
    max-width: 320px;
    color: blue;
}

input.price-input, input.quantity-input  {
    font-size: 30px;
    color: blue;
    text-align: center;
}

input.price-input::-webkit-outer-spin-button,
input.price-input::-webkit-inner-spin-button,
input.quantity-input::-webkit-outer-spin-button,
input.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.price-input {
    width: 100px;
}

.loading-logo {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    width: 160px;
    height: 160px;
    position: fixed;
    top: 35vh;
    right: 45vw;
    z-index: 300;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.pikachu-and-ash-pic {
    position: absolute;
    top: -40px;
    right: 60px;
    height: 135px;
    object-fit: cover;
}

.errors-container {
    position: fixed;
    z-index: 250;
    list-style-type: none;
    color: white;
    top: 30vh;
    left: 35vw;
    border: solid black 3px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 1rem;
}

input.title-input {
    color: blue;
}