@media (max-width: 600px) {
    .mobile-sidebar {
        display: flex;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 50vw;
        height: 100vh;
        background-color: red;
        z-index: 1000;
        flex-direction: column;
        transition: all 0.2s linear;
    }

    .mobile-sidebar-background {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 999;
        position: fixed;
        top: 0;
        left: -100vw;
        /* transition: all 0.2s linear; */
    }
}