.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 70vw;
}

.list-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border: 3px solid blue;
    border-radius: 10px;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 40rem;
    background-color: yellow;
}

.title-buttons-div {
    margin-left: 20px;
    position: relative;
    bottom: 25px;
}

.background-create-text {
    position: fixed;
    bottom: 72px;
    right: 59px;
    z-index: 51;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: yellow;
    cursor: pointer;
    transition: all ease-in-out;
}

.list-title {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}

.list-cover-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid blue;
    background-color: white;
}

.arrow-link {
    
}

.arrow-link:visited {
    text-decoration: none;
    color: blue;
}

span.arrow-icon {
    font-size: 50px;
}

button#create-list-button {
    position: fixed;
    top: 80vh;
    right: 7vw;
}

.empty-page-text {
    font-family: "Fredoka One", cursive;
    color: yellow;
    text-shadow: 2px 2px 4px blue;
    position: relative;
    bottom: 60px;
}

img.empty-page-pic {
    position: fixed;
    object-fit: cover;
    height: 220px;
    bottom: 0;
    left: 35vw;
}

.list-cover-image,
.title-buttons-div {
    z-index: 100;
}

.list-background {
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

@media (max-width: 600px) {
    img.list-cover-image {
        width: 75px;
        height: 75px;
    }

    .list-title {
        font-size: 26px;
        position: relative;
        bottom: 0vh;
        right: 2vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 105px;
    }

    .delete-list,
    .edit-list {
        font-size: 15px;
        height: 30px;
        width: 30px;
        top: 7vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delete-list {
        right: 15vw;
    }

    .edit-list {
        left: 13vw;
        color: white;
    }

    .title-buttons-div {
        display: flex;
        position: relative;
        justify-content: space-around;
        bottom: 1vh;
        width: 60vw;
    }

    .arrow-link {
        display: none;
    }

    button#create-list-button {
        top: 75vh
    }

    .list-div {
        width: 75%;
    }
}