nav {
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-bar-div {
    background-color: red;
    border-bottom: 1px solid black;
    box-shadow: 0 3px 10px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 500;
    display: flex;
    align-items: flex-end;
}

.site-title {
    position: relative;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 35px;
    color: Yellow;
    right: 8rem;
    margin: 0;
}

.upper-nav-div {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

.background-title {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 38px;
    color: blue;
    margin: 0;
}

.nav-buttons {
    background-size: 65px;
    height: 65px;
    width: 65px;
    margin: 10px;
    color: yellow;
    font-family: "Fredoka One", cursive;
    font-size: 20px;
    text-shadow: 2px 2px 4px blue;
}

.nav-buttons-div {
    position: fixed;
    top: 2vh;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    position: fixed;
    left: 4.5vw;
}

.categories-container a {
    color: yellow;
    text-shadow: 2px 2px 4px blue;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
}

.user-dropdown {
    border-radius: 1rem;
    height: 130px;
    width: 250px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 2rem;
    top: 4rem;
    padding: 0.5rem 0rem;
    border: solid 3px black;
    background-color: red;
    color: yellow;
    text-shadow: 2px 2px 4px blue;
    font-family: "Architects Daughter", cursive;
    z-index: 250;
}

.nav-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.upper-dropdown {
    display: flex;
    justify-content: space-around;
}

.lower-dropdown {
    display: flex;
    justify-content: center;
}

.dropdown-username>a,
.dropdown-username>a:visited {
    margin: 20px 0px;
    position: relative;
    right: 60px;
    top: 15px;
    color: yellow;
    text-decoration: none;
}

.logout-button {
    width: 60px;
    height: 30px;
    font-size: 13px;
    padding: 0px;
    position: absolute;
    right: 90px;
    top: 100px;
}

#create-post-button,
#create-list-button {
    font-size: 20px;
}

.create-button {
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    color: yellow;
    transition: all ease-in-out;
    text-shadow: 2px 2px 4px blue;
    z-index: 101;
}

.user-drop-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
}

.category-text {
    font-size: 20px;
}

.mobile-nav-menu {
    display: none;
}


@media (min-width: 601px) {
    .mobile-sidebar {
        display: none;
    }
}

@media (max-width: 600px) {
    .categories-container {
        display: none;
    }

    .background-title {
        position: relative;
        left: 30vw;
        font-size: 43px;
    }

    .site-title {
        right: 1rem;
        font-size: 40px;
    }

    .nav-bar-div {
        height: 8rem;
    }

    .mobile-nav-menu {
        display: flex;
        position: fixed;
        top: 0;
        z-index: 1000;
        color: yellow;
        text-shadow: 6px 6px 6px blue;
        align-items: center;
        justify-content: center;
        height: inherit;
    }

    .mobile-nav-menu-button {
        font-size: 48px;
    }

    .mobile-sidebar {
        display: flex;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 55vw;
        height: 100vh;
        background-color: red;
        z-index: 1000;
        flex-direction: column;
        transition: all 0.2s linear;
        align-items: center;
        box-shadow: 0 3px 10px black;
        border-right: 1px solid black;
    }

    button#create-post-button {
        position: fixed;
        bottom: 3vh;
        right: 6vw;
    }

    .non-sidebar-buttons {
        display: none;
    }
}

.site-title-logo {
    position: absolute;
    top: 0;
    left: 2rem;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}