.edit-background {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
}

.edit-form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    position: relative;
    top: 30px;
}

@media (max-width: 600px) {
    h2#edit-post-title {
        font-size: 1.5em;
    }
}