/* TODO Add site wide styles */
.login-form, .signup-form {
    position: relative;
    top: 300px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button-default {
    background-color: blue;
    color: yellow;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Righteous', cursive;
    transition: ease-in-out all;
}

.button-default:hover {
    background-color: rgb(0, 81, 255);
    transform: translate(-2px, -1px);

}

.button-default-cancel {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Righteous', cursive;
    transition: ease-in-out all;
}

.button-default-cancel:hover {
    background-color: rgba(255, 0, 0, 0.747);
    transform: translate(-2px, -1px);
}

.button-pokeball {
    background-image: url("https://pokeup.s3.us-west-1.amazonaws.com/Pokeball-PNG-Photos.png");
    width: 75px;
    height: 75px;
    background-size: 75px;
}

.about-links {
    display: flex;
    position: absolute;
    bottom: -200px;
    right: 35vw;
    justify-content: space-around;
    width: 300px;
    margin: 20px 0px;
}

.about-links a:visited {
    text-decoration: none;
    color: black;
}

#root {
    position: relative;
}