/* TODO Add site wide styles */
.login-form, .signup-form {
    position: relative;
    top: 300px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button-default {
    background-color: blue;
    color: yellow;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Righteous', cursive;
    transition: ease-in-out all;
}

.button-default:hover {
    background-color: rgb(0, 81, 255);
    transform: translate(-2px, -1px);

}

.button-default-cancel {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Righteous', cursive;
    transition: ease-in-out all;
}

.button-default-cancel:hover {
    background-color: rgba(255, 0, 0, 0.747);
    transform: translate(-2px, -1px);
}

.button-pokeball {
    background-image: url("https://pokeup.s3.us-west-1.amazonaws.com/Pokeball-PNG-Photos.png");
    width: 75px;
    height: 75px;
    background-size: 75px;
}

.about-links {
    display: flex;
    justify-content: center;
}

.about-links a {
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.about-links a:visited {
    text-decoration: none;
    color: black;
}

.page-container {
    position: absolute;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.page-title {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    position: relative;
    right: 25vw;
}

textarea {
    font-size: 15px;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 1rem;
    font-family: 'Architects Daughter', cursive;
    padding-left: 10px;
    background-color: rgba(235, 220, 21, 0.432);
}

@media (max-width: 600px) {
    .about-links {
        right: 9vw;
        bottom: -150px;
    }
}

.flx-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flx-col {
    display: flex;
    flex-direction: column;
}