.list-post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.list-post-image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 1rem;
    border: blue 3px solid;
}

.list-post-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 10rem;
    border: blue solid 3px;
    border-radius: 1rem;
    padding: 10px;
    background-color: yellow;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 1rem;
}

.list-post-title {
    font-family: 'Fredoka One', cursive;
    text-overflow: ellipsis;
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
}

.list-post-price {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}

.list-info {
    justify-content: space-around;
    width: 30rem;
}

.post-info {
    align-items: flex-start;
    width: 15rem;
}

.list-post-image,
.list-post-price,
.list-post-title,
.link-post,
.remove-list-post {
    z-index: 100;
}

@media (max-width: 600px) {
    .list-post-div {
        width: 80vw;
        height: 20vh;
    }

    .list-post-image {
        width: 100px;
        height: 100px;
        left: 5vw;
        top: 5vh;
    }

    .list-post-title,
    .list-post-price,
    .remove-list-post {
        margin-left: 21vw;
        position: absolute;
        bottom: 10vh;
    }

    .list-post-title {
        max-width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    button.remove-list-post {
        height: 5vh;
        top: 15vh;
    }

    .link-post {
        display: none;
    }

    img.empty-page-pic {
        left: 10vw;
        height: 150px;
    }

    .empty-page-text {
        bottom: 0;
    }
}