.page-container {
    position: absolute;
    top: 25vh;
}

.delete-chat-button {
    position: absolute;
    right: 50px;
    z-index: 99;
}

@media (max-width: 600px) {
    button.delete-chat-button {
        right: 1rem;
    }
}