.togepi-pic {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    height: 150px;
}

.celebi-pic {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 200px;
}

@media (max-width: 600px) {
    .togepi-pic {
        height: 100px;
        bottom: 1rem;
        left: 1rem
    }

    .celebi-pic {
        height: 125px;
        bottom: 1rem;
        right: 1rem
    }

    .edit-pro-info-div {
        top: 12vh;
    }

    .edit-pro-info-buttons {
        top: 47vh;
    }
}