nav {
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-bar-div {
    background-color: red;
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.site-title {
    position: relative;
    left: 15px;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 35px;
    color: Yellow;
}

.upper-nav-div {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

.background-title {
    position: fixed;
    left: 9px;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 38px;
    color: blue;
    top: -1px;
}

.nav-buttons {
    background-size: 65px;
    height: 65px;
    width: 65px;
    margin: 10px;
    color: blue;
    font-family: "Fredoka One", cursive;
    font-size: 20px;
}

.nav-button-profile {
    position: fixed;
    color: yellow;
    cursor: pointer;
    font-family: "Fredoka One", cursive;
    font-size: 18px;
    right: 34px;
    top: 31px;
    z-index: 60;
}

.nav-button-lists {
    position: fixed;
    color: yellow;
    cursor: pointer;
    font-family: "Fredoka One", cursive;
    font-size: 18px;
    right: 128px;
    top: 31px;
    z-index: 60;
}

.nav-button-selling {
    position: fixed;
    color: yellow;
    cursor: pointer;
    font-family: "Fredoka One", cursive;
    font-size: 18px;
    right: 204px;
    top: 31px;
    z-index: 60;
}

.nav-buttons-div {
    position: fixed;
    right: 20px;
}