.post-container {
    position: relative;
    top: 175px;
}

.post-container h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 38px;
}

.upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    margin-bottom: 10rem;
}

.bottom-container {
    margin-left: 3rem;
}

.post-buttons {
    display: flex;
    flex-direction: column;
}

.seller-profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
}

.seller-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 5rem;
    width: 13rem;
}

.post-buttons>button {
    margin: 15px;
}

.quantity-category-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-page-image {
    max-width: 500px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

h2.seller-username {
    position: relative;
    font-size: 30px;
}

.list-icon {
    position: relative;
    left: 10px;
    top: 7px;
    font-size: 25px;
}

.add-to-list-button {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    color: blue;
}

.add-to-list-button:hover {
    color: yellow;
    background-color: blue;
}

.category-page-text {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: bold;
}

.quantity-text {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

.line-div-2 {
    border-top: 1px solid black;
    position: absolute;
    width: 400px;
    top: -30px;
}

.line-div-3 {
    border-top: 1px solid black;
    position: absolute;
    width: 390px;
    bottom: -30px;
}

.line-div-4 {
    border-top: 1px solid black;
    width: 90%;
}

.description-container {
    padding: 20px 0px;
}

.description-text {
    font-family: 'Architects Daughter', cursive;
    font-size: 23px;
}

.more-post-title,
.similar-post-title {
    font-size: 19px;
    font-family: "Fredoka One", cursive;
}

.similar-post-price,
.more-post-price {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    position: relative;
    bottom: 14px;
}

.right-container {
    width: 30%;
    display: flex;
    border-left: solid 1px black;
    padding-left: 20rem;
    height: 35rem;
}

.left-container {
    width: 50%;
}

.more-posts-div-container,
.similar-posts-div-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.more-post-div,
.similar-post-div {
    margin: 20px;
}

.add-list-post-container {
    width: 30rem;
    height: 30rem;
    border: blue solid 3px;
    border-radius: 1rem;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20vh;
    left: 30vw;
    z-index: 651;
}

.list-buttons-container {
    display: flex;
    flex-direction: column;
}

.seller-username>a,
.seller-username>a:visited {
    text-decoration: none;
    color: black;
}

.offer-input {
    border: none;
    appearance: none;
    outline: none;
    border-radius: 1rem;
    height: 30px;
    font-family: 'Architects Daughter', cursive;
    padding-left: 10px;
    background-color: rgba(235, 220, 21, 0.432);
    margin: 20px;
}

.offer-input::-webkit-outer-spin-button,
.offer-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.offer-post-container {
    z-index: 651;
    position: fixed;
    top: 20vh;
    left: 30vw;
}

@media (min-width: 601px) {
    .line-div-5 {
        display: none;
    }
}

@media (max-width: 600px) {
    .post-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .upper-container {
        flex-direction: column;
    }

    .post-page-image {
        max-width: 90vw;
        max-height: 40vh;
        object-fit: cover;
        position: relative;
        top: 0rem;
    }

    .line-div-1,
    .line-div-4 {
        display: none;
    }

    .line-div-2,
    .line-div-3 {
        width: 100vw;
    }

    .top-container-mobile,
    .bottom-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-container-mobile {
        position: relative;
    }

    .bottom-container-mobile {
        padding-left: 0;
        border-left: none;
    }

    .post-page-title,
    .post-page-price {
        max-width: 90vw;
        text-align: center;
    }

    .seller-container {
        width: 70vw;
    }

    .description-container {
        max-width: 100vw;
        padding: 1rem;
    }

    .description-text {
        font-size: 20px;
    }

    h2.description-title {
        font-size: 30px;
    }

    .bottom-container {
        margin-left: 0;
    }

    h2.similar-title,
    h2.more-title {
        font-size: 30px;
        padding-left: 1rem;
    }

    .add-to-list-button {
        padding: 1rem;
    }

    .add-list-post-container {
        width: 90vw;
        top: 20vh;
        left: 5vw;
    }
}

.line-div-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}