.edit-bio-div {
    width: 35vw;
    height: 45vh;
    left: 30vw;
    top: 25vh;
}

.edit-bio {
    position: relative;
    bottom: 18vh;
}

textarea.bio-input {
    height: 15vh;
    width: 25vw;
}

.bio-form-buttons {
    position: relative;
    top: -15vh;
}

.dragonite-pic {
    position: absolute;
    height: 15vh;
    top: 0;
    right: 1.5vw;
}