.edit-bio-div {
    width: 35vw;
    height: 45vh;
    left: 30vw;
    top: 25vh;
}

.edit-bio {
    position: relative;
    bottom: 12vh;
}

textarea.bio-input {
    height: 15vh;
    width: 25vw;
}

.bio-form-buttons {
    position: relative;
    top: -10vh;
}

.dragonite-pic {
    position: absolute;
    height: 15vh;
    top: 0;
    right: 1.5vw;
}

@media (max-width: 600px) {
    .edit-bio-div {
        left: 5vw;
        width: 90vw;
    }

    .edit-bio-form-div {
        top: 10vh;
    }

    textarea.bio-input {
        width: 60vw;
    }
}